.container{
    display: flex;
    .increment-button-container{
        width: 40px;
    }

    .counter-container{
        width: 40px;
    }

    .decrement-button-container{
        width: 40px;
    }
}