.seat-view {
    display: inline-block;
    margin: 2.5px;
    width: 25px;
    height: 25px;
    border: 1.5px #8A8D8D solid;
    border-radius: 8px;
    background: url('../../assets/img/seat_booked.png') no-repeat center;
}