.seat-map-component {
  width: 30%;
  float: left;
}

.seat-map-toolBar {
  text-align: center;
  background-color: darkblue;
  color: white;
  padding: 10px;
}

.seat-map-toolBar label {
  vertical-align: middle;
}

.back-icon {
  float: left;
  cursor: pointer;
}

.seat-map-body {
  background-color: white;
  width: 100%;
}

.segment-journey {
  font-weight: bold;
}

.segment-journey #journeyDirectionIndicator {
  margin-left: 10px;
  margin-right: 10px;
}

.segment-meta-data div {
  display: inline-block;
}

.meta-deta-block-separator {
  margin-left: 10px;
  margin-right: 10px;
}

.meta-deta-block-label {
  margin-left: 2px;
  margin-right: 2px;
}

.availability-block {
  display: inline-block;
  margin-right: 10px;
  width: 30%;
}

.square {
  height: 20px;
  width: 20px;
  border: solid black 1px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.available {
  background-color: white;
  cursor: pointer;
}

.seat-selected {
  background-color: green;
  cursor: pointer;
}

.premium {
  background-color: lightgreen;
}

.unavailable {
  background-color: gray;
}

.availability-indicator-row {
  padding: 10px;
}

.seat-details {
  padding: 10px;
}

.square-heading {
  height: 20px;
  width: 20px;
  text-align: center;
  display: inline-block;
  margin-right: 20px;
  border: solid grey 1px;
  vertical-align: top;
}

.square-heading div {
  display: inline-block;
}

.square-heading-blank {
  height: 20px;
  width: 20px;
  text-align: center;
  display: inline-block;
  margin-right: 21px;
  vertical-align: top;
}

.square-data {
  height: 20px;
  width: 20px;
  text-align: center;
  display: inline-block;
  margin-right: 20px;
  border: solid grey 1px;
  vertical-align: top;
}

.square-separator {
  height: 20px;
  width: 20px;
  text-align: center;
  display: inline-block;
  margin-right: 21px;
  vertical-align: top;
}

.row-data {
  margin-right: 20px;
}

.seat-data {
  margin-right: 20px;
  margin-top: 10px;
}

.seat-row {
  display: inline-block;
}

.seat-row-data {
  margin-top: 10px;
  margin-bottom: 10px;
}
